html, body {
  background-color: white;
  min-width: 700px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
  padding:20px;
}

.center_form{
  text-align: center;
}

.Main {
  text-align: center;
  color: magenta;
}

.results{
  text-align: center;
}
